#score {
    text-align: center;
}

#game {
    width: 600px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
    background-image: url("./background.gif");
    background-size: cover;
}

#character {
    height: 100px;
    width: 75px;
    top: 255px;
    position: relative;
    background-image: url("./itador.gif");
    background-size: cover;
}

#villain {
    height: 150px;
    width: 100px;
    top: 210px;
    right: 500px;
    position: absolute;
    background-image: url("./kenjaku.gif");
    background-size: cover;
}

#curse {
    width: 50px;
    height: 50px;
    position: relative;
    top: 180px;
    left: 550px;
    background-image: url("./ezgif.com-effects.gif");
    background-position: center;
    background-size: cover;
    animation: curse 1.33s infinite;
}

@keyframes curse {
    0% {
        left: 550px;
    }
    100% {
        left: -50px;
    }
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0% {
        top: 225px;
    }
    50% {
        top: 70px;
    }
    75% {
        top: 70px;
    }
    100% {
        top: 225px;
    }
}
