:root {
  --main-container-width: 90rem;
  --primary-color: #253361;
  --light-color: #ffff;
  --secundary-color: #4c5688;
  --tirdairy-color: #747cb2;
  --no-list-style: none;
  --standard-margin: 1rem;
  --standard-padding: 1rem;
  --standard-border-radius: 1rem;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/nunito-fonts/Nunito-Black.woff2") format("woff2"),
    url("../assets/fonts/nunito-fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/pt-sans-fonts/PTSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/pt-sans-fonts/PTSans-Italic.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-fonts/PTSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/pt-sans-fonts/PTSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-fonts/PTSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: var(--main-container-width);
  margin: 0 auto;
}

/* //---------------------------HEADER------------------------------// */
h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

header {
  background-color: var(--secundary-color);
  padding: 1rem;
}

.title-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
}

.title-container h1 {
  padding: 0 1rem;
}

.title-container figure img {
  width: 3rem;
}

/* // ---------------------------MAIN------------------------------// */

.top-content {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.description__text {
  width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.description a {
  color: var(--light-color);
  transition: all 0.3s ease-in-out;
}

.description a:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--tirdairy-color);
}

.top-content .description__img img {
  border-radius: 2rem;
}

.links-container {
  margin-top: 2rem;
  background-color: var(--secundary-color);
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  padding-bottom: 2rem;
}

.links-container:hover {
  box-shadow: 10px 10px white;
  transition: all 0.3s ease-in-out;
}

.links-container h2 {
  margin-bottom: 1rem;
}

.links-container ul {
  list-style: var(--no-list-style);
  padding: 0;
}

.links-container ul li a {
  color: var(--light-color);
}

.links-container ul li a:hover {
  background-color: var(--tirdairy-color);
  transition: all 0.3s ease-in-out;
}
.tutorial-container {
  margin: var(--standard-margin);
  position: relative;
  overflow: hidden;
}

.main-content {
  padding-bottom: 4rem;
}

.main-content h2 {
  margin-left: 1rem;
}

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-snap-type: x mandatory;
}

.next-slide-arrow {
  position: absolute;
  display: flex;
  top: -10%;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  align-items: end;
  justify-content: center;
}

.next-slide-arrow:hover,
.prev-slide-arrow:hover,
.next-slide-arrow:focus,
.prev-slide-arrow:focus {
  opacity: 1;
}

#next-slide-arrow-prev,
#prev-slide-arrow {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#next-slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 80%;
  flex: 1 0 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secundary-color);

  & .info-container {
    justify-content: center;
    & p {
      background-color: var(--tirdairy-color);
      padding: var(--standard-padding);
      border-radius: var(--standard-border-radius);
    }
  }
}

.slides-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.info-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.info-container {
  & img {
    width: 50rem;
    object-fit: cover;
  }
  & .end-slide__item {
    width: 25rem;
  }
  & iframe {
    width: 50rem;
  }
  & p {
    width: 28rem;
  }

  & .little__image {
    width: 20rem;
  }

  & .download-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    & .download-link {
      width: 10rem;
      text-align: center;
      transition: all 0.3s ease-in-out;
      padding: 0;
      & img {
        width: 2rem;
      }
      & a {
        color: var(--light-color);
        border-radius: var(--standard-border-radius);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: var(--standard-padding);
      }

      &:hover {
        background-color: var(--primary-color);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
