:root {
  --main-container-width: 90rem;
  --background-color: #253361;
  --light-color: #ffff;
  --secundary-color: #4c5688;
  --tirdairy-color: #747cb2;
  --no-list-style: none;
  --normal-margin: 4rem;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/nunito-fonts/Nunito-Black.woff2") format("woff2"),
    url("../assets/fonts/nunito-fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/pt-sans-fonts/PTSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/pt-sans-fonts/PTSans-Italic.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-fonts/PTSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/pt-sans-fonts/PTSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-fonts/PTSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--background-color);
  color: var(--light-color);
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: var(--main-container-width);
  margin: 0 auto;
}

/* //---------------------------HEADER------------------------------// */
h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

header {
  background-color: var(--secundary-color);
  padding: 1rem;
}

.title-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
}

.title-container h1 {
  padding: 0 1rem;
}

.title-container figure img {
  width: 3rem;
}

/* // ---------------------------MAIN------------------------------// */

.top-content {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  gap: 2rem;
}

.description__text {
  width: 40rem;
  margin-top: 1rem;
}

.top-content .description__img img {
  border-radius: 2rem;
}

.links-container {
  margin-top: 2rem;
  background-color: var(--secundary-color);
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  padding-bottom: 2rem;
}

.links-container:hover {
  box-shadow: 10px 10px white;
  transition: all 0.3s ease-in-out;
}

.links-container h2 {
  margin-bottom: 1rem;
}

.links-container ul {
  list-style: var(--no-list-style);
  padding: 0;
}

.links-container ul li a {
  color: var(--light-color);
}

.links-container ul li a:hover {
  background-color: var(--tirdairy-color);
  transition: all 0.3s ease-in-out;
}
