#score {
    text-align: center;
}

#game {
    width: 600px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
    background-image: url("../assets/background.gif");
    background-size: cover;
    overflow: hidden;
}

#character {
    height: 100px;
    width: 75px;
    top: 255px;
    position: relative;
    background-image: url("../assets/itador.gif");
    background-size: cover;
    background-color: blue;
}

#villain {
    height: 150px;
    width: 100px;
    top: 210px;
    right: 500px;
    position: absolute;
    background-image: url("../assets/kenjaku.gif");
    background-size: cover;
}

.curse {
    width: 50px;
    height: 50px;
    position: relative;
    top: 180px;
    left: 550px;
    background-image: url("../assets/projectile.gif");
    background-position: center;
    background-size: cover;
    animation: curse 1.75s infinite;
    animation-timing-function: ease-in;
    background-color: red;
}

.second {
    top: 50px;
    animation: TopCurse 3s infinite;
    animation-timing-function: ease-in;
}

@keyframes curse {
    0% {
        left: 550px;
    }
    100% {
        left: -20px;
    }
}

@keyframes TopCurse {
    0% {
        left: 800px;
    }
    100% {
        left: -20px;
    }
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0% {
        top: 225px;
    }
    50% {
        top: 70px;
    }
    75% {
        top: 70px;
    }
    100% {
        top: 225px;
    }
}
